In [65]:
# Using to convert a pascal voc xml file
!pip install pascal-voc-writer --user
from pascal_voc_writer import Writer

Requirement already satisfied: pascal-voc-writer in /home/jupyter/.local/lib/python3.5/site-packages (0.1.4)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.5/dist-packages (from pascal-voc-writer) (2.10.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.5/dist-packages (from jinja2->pascal-voc-writer) (1.1.1)

In [66]:
# Need width, heigh and 4 positions
writer = Writer('./images_test/001.jpg',466,350)
writer.addObject('cat', 196, 55, 385, 314)
writer.save('../csv_file/test.xml')

# Xử lí file json ban đầu để xuất ra width, heigh và 4 vị trí box vào dataframe

In [112]:
import json
from pandas import DataFrame

# read file
with open('../model/ninedash_keypoints_train.json', 'r') as myfile:
    data=myfile.read()
    
obj = json.loads(data)
annotations = []
images = []

for i in range(len(obj["annotations"])):
    temp = {"image_id": obj["annotations"][i]["image_id"],
            'x': obj["annotations"][i]["bbox"][0],
            'y': obj["annotations"][i]["bbox"][1],
            'w': obj["annotations"][i]["bbox"][2],
            'h': obj["annotations"][i]["bbox"][3]
            }
    annotations.append(temp)

for i in range(len(obj["images"])):
    temp = {"id": obj["images"][i]["id"],
           "height": obj["images"][i]["height"],
            "width": obj["images"][i]["width"]
           }
    images.append(temp)
    
#print(annotations)
#print(images)
print(DataFrame(annotations))

DataFrame(annotations).to_csv("../csv_file/annotations.csv", index=False)
DataFrame(images).to_csv("../csv_file/images.csv", index=False)

       h  image_id    w    x    y
0    599         0  447  388  130
1    266         1  209  174   52
2    341         2  277  245   85
3    727         3  914  115   68
4    347         4  277  208   13
..   ...       ...  ...  ...  ...
907  272       797  215   44   27
908  299       798  266   19    0
909  328       799  285  204   71
910    0       913    0  104   75
911   54      2510   54  220  227

[912 rows x 5 columns]

In [113]:
import pandas as pd
anno = pd.DataFrame(annotations)
imgid = pd.DataFrame(images)

In [114]:
anno = anno.rename(columns={'image_id':'id'})

In [115]:
df = pd.merge(anno,imgid,on='id')

In [116]:
df

       h    id    w    x    y  height  width
0    599     0  447  388  130     796   1000
1    266     1  209  174   52     350    466
2    341     2  277  245   85     473    622
3    727     3  914  115   68     800   1200
4    347     4  277  208   13     361    490
..   ...   ...  ...  ...  ...     ...    ...
907  272   797  215   44   27     300    260
908  299   798  266   19    0     300    318
909  328   799  285  204   71     400    600
910    0   913    0  104   75     180    250
911   54  2510   54  220  227     350    350

[912 rows x 7 columns]

# Chạy vòng lặp để tạo file xml dạng pascal voc

In [88]:
df['bbox'][0]

[388, 130, 447, 599]

In [92]:
for i in range(len(obj["annotations"])):
    temp = {"image_id": obj["annotations"][i]["image_id"],
           'bbox': obj["annotations"][i]["bbox"][0]
           }

In [93]:
temp

{'bbox': 220, 'image_id': 2510}

In [110]:
for i in range(len(obj["annotations"])):
    temp = {"image_id": obj["annotations"][i]["image_id"],
            'x': obj["annotations"][i]["bbox"][0],
            'y': obj["annotations"][i]["bbox"][1],
            'w': obj["annotations"][i]["bbox"][2],
            'h': obj["annotations"][i]["bbox"][3]
            }

In [111]:
temp

{'h': 54, 'image_id': 2510, 'w': 54, 'x': 220, 'y': 227}

SyntaxError: invalid syntax (<ipython-input-107-cfeacceec53f>, line 1)